@page
@model RazorPizzaShop.Pages.Checkout.ThankYouModel
@{
}
<h1>Thank you for your order!</h1>
<h1>It will be ready in XXXX minutes.</h1>
@* 
<h1>ORDER <a href="..\Pages\Pizza.cshtml">AGAIN?</a></h1> *@