@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">East Coast Pizza</h1>
        <h4 class="mainSubTitle">Best Pizza On The East Coast</h4>
    </div>
        <img class="mainImage" src="~/Images/PizzaTime.jpg" />
        <br />
        <a class="btn btn-primary mt-1 mainImage" asp-area="" asp-page="Checkout/ThankYou">The PIZZA Is Getting Ready!</a>
    
    
</div>
